<header>
みんなの匿名つぶやき掲示板
</header>

<h1>つぶやき一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>つぶやき</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td><%= link_to '詳細を確認する', tweet_path(tweet.id) %></td>
    <td><%= link_to "つぶやきを編集する", edit_tweet_path(tweet.id) %></td>
    <td><%= link_to "つぶやきを削除する", tweet_path(tweet.id), method: :delete ,data: {confirm: '本当に削除していいですか？'}%></td>
  </tr>
<% end %>

</table>

<%= link_to '新しくつぶやく', new_tweet_path %>

<footer>copyright (c)【2020】 【Shunsuke Matsuura】 all rights reserved.</footer>
